.card {
  cursor: pointer;
}
.card:hover .tech-chip {
  display: flex;
  z-index: 5;
}
.card:hover img {
  transform: scale(1.05);
}
.img-filter {
  transition: 300ms ease-in-out;
}
.img-filter:hover {
  filter: invert(71%) sepia(35%) saturate(6966%) hue-rotate(107deg)
    brightness(89%) contrast(90%);
}
