@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background-color: #fff;
  --text-primary: #0db760;
  --text-secondary: #92929d;
  --text-base: #11142d;
  --color-green: #0db760;
  --color-red: #ff0000;
  --color-black: #000000;
  --color-pink: #fe8b75;
  --color-blue: #0047ff;
  --color-gray: #323433;
  --color-light-gray: #c4c4c4;
  --color-light-gray-2: #bec0bf;
  --color-light-black: #0b0c0c;
  --color-light-green: #24ff00;
  --color-light-yellow: #f9f047;
  --color-medium-green: #2abf74;
  --color-dark-gray: #4d4d4d;
  --color-dark-white: #e8eaf4;
  --color-light-blue: #e9f8f5;
  --color-light-pink: #fff4e1;

  --color-white: #fff;
  --page-padding: 10%;
}

* {
  box-sizing: border-box;
}
.writing-mode-vertical-lr {
  writing-mode: vertical-lr;
  text-orientation: sideways;
}
.poppins {
  font-family: Poppins, Inter;
}
html {
  display: flex;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  width: 100%;
  overflow-x: hidden;
}

/* For Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-green); /* Black color */
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  /* background-color: #f1f1f1; Light gray color */
  background-color: var(--color-gray); /* Light gray color */
  border-radius: 5px;
}
.break-word {
  word-break: break-word;
}
