@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  color: #fff;
  background: #070707;
  padding: 0 1rem;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  /* For Firefox */
  scrollbar-color: #000000 #f1f1f1; /* Black color for thumb, light gray for track */
  scrollbar-width: thin;
}
/* For Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 4px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #000000; /* Black color */
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Light gray color */
  border-radius: 5px;
}
