.nav-link {
  position: relative;
  width: fit-content;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px; /* Adjust this value to control the underline position */
  width: 0;
  height: 2px;
  background-color: var(
    --nav-underline-color
  ); /* Adjust the color to your preference */
  transition: width 0.3s ease-in-out;
}
.nav-link:hover::after {
  width: 100%;
}
.nav-link.active::after {
  width: 100%;
}
